<%= settings_layout do %>
  <%= turbo_frame_tag "provider" do %>
    <%= render "providers/index" %>
    <div class="font-lg font-bold mt-4">
      Add <%= params[:provider_type]&.titleize || @provider.provider.titleize %> Credentials
    </div>
    <div>
      <div class="mt-2 mb-4">
        <% if params[:provider_type] == Provider::DOCKER_HUB_PROVIDER %>
          <%= link_to "Find your Docker Hub token →", "https://app.docker.com/settings/personal-access-tokens", target: "_blank", class: "text-sm text-gray-500 underline" %>
          <div class=" mt-2">
            Make sure you select the <b>Read & Write</b> permission if you want to deploy a private project.
          </div>
        <% elsif params[:provider_type] == Provider::GITHUB_PROVIDER %>
          <%= link_to "Find your Github token →", "https://github.com/settings/tokens", target: "_blank", class: "text-sm text-gray-500 " %>
        <% end %>
      </div>
    </div>
    <%= render "providers/form", provider: @provider %>
  <% end %>
<% end %>