<%= project_layout(@project) do %>
  <div>
    <%= turbo_frame_tag "new_service" do %>
      <%= link_to new_project_service_path(@project) do %>
        <button class="btn btn-primary btn-sm inline-flex">
          <iconify-icon icon="lucide:plus" height="16"></iconify-icon>
          <span class="hidden md:inline">New Service</span>
        </button>
      <% end %>
    <% end %>
  </div>
  <div class="overflow-x-auto mt-2">
    <% if @project.services.empty? %>
      <div>
        <p class="text-gray-500">No services yet</p>
      </div>
    <% else %>
      <div class="mt-1 space-y-1">
        <% @project.services.each do |service| %>
        <div class="collapse collapse-plus bg-base-200 hover:bg-base-200/40">
          <input aria-label="Accordion radio" class="w-full" type="radio" name="accordion" />
          <div class="collapse-title text-xl font-medium">
            <%= service.name %> 
          </div>
          <div class="collapse-content">
            <%= render "projects/services/show", service: service %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
