<%= project_layout(@project) do %>
  <div>
    <%= turbo_frame_tag "new_service" do %>
      <%= link_to new_project_service_path(@project) do %>
        <button class="btn btn-primary btn-sm inline-flex">
          <iconify-icon icon="lucide:plus" height="16"></iconify-icon>
          <span class="hidden md:inline">New Service</span>
        </button>
      <% end %>
    <% end %>
  </div>
  <div class="overflow-x-auto mt-2">
    <table class="w-full table-auto">
      <thead class="">
        <tr>
          <th class="px-4 py-2 text-left">Name</th>
          <th class="px-4 py-2 text-left">Service Type</th>
          <th class="px-4 py-2 text-left">Command</th>
        </tr>
      </thead>
      <tbody>
        <% @project.project_services.each do |service| %>
          <tr class="border-b">
            <td class="px-4 py-2"><%= service.name %></td>
            <td class="px-4 py-2"><%= service.service_type.titleize %></td>
            <td class="px-4 py-2"><%= service.command %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
