<%= project_layout(@project) do %>
  <div data-controller="processes">
    <%= render "projects/processes/connect_modal", cluster: @project.cluster %>
    <div class="mb-4">
      <h3 class="text-lg font-medium">Processes</h3>
      <%= button_to project_processes_path(@project), method: :post, class: "btn btn-sm btn-primary" do %>
        <iconify-icon icon="ic:baseline-plus"></iconify-icon>
        Create One-Off Pod
      <% end %>
      <div class="help-text mt-2">
        One-off pods are useful for running a single instance of a pod for a short period of time, so you can test something or run a command that doesn't need to be permanent.
      </div>
    </div>
    <%= turbo_frame_tag "pod_logs" do %>
      <% if @pods.empty? %>
        <div>
          <p class="text-gray-500">Nothing running for this project</p>
        </div>
      <% else %>
        <%= render(
          "processes/pods",
          pods: @pods,
          parent: @project
        ) %>
      <% end %>
    <% end %>
  </div>
<% end %>