<%= form_with(model: cluster) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input input-bordered", value: RandomNameGenerator.generate_name %>
  </div>

  <div class="form-group">
    <%= form.label :kubeconfig %>
    <%= form.file_field :kubeconfig, class: "file-input w-full" %>
  </div>

  <div class="form-footer">
    <%= form.button "Submit", class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), clusters_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t("cancel"), cluster_path(@cluster), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
