<%= form_with(model: cluster) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input input-bordered", value: RandomNameGenerator.generate_name %>
  </div>

  <div data-controller="new-add-ons">
    <label class="mb-2">Which managed Kubernetes provider are you using?</label>
    <div class="form-group">
      <div class="flex gap-4">
        <%= form.collection_select :cluster_type, 
          Cluster.cluster_types.keys, 
          :to_s,
          :titleize,
          { },
          { class: "select select-bordered hidden", data: { new_add_ons_target: "input" } } 
        %>
        <%= render "clusters/cluster_types/cards/k8s" %>
        <%= render "clusters/cluster_types/cards/k3s" %>
      </div>
    </div>

    <div class="my-10 has-styled-links">
      <%= render "clusters/cluster_types/instructions/k8s", form: form %>
      <%= render "clusters/cluster_types/instructions/k3s", form: form %>
    </div>
  </div>
<% end %>
