<%= content_for :title, "Clusters ##{@cluster.id}" %>
<%= turbo_stream_from @cluster %>


<%= cluster_layout(@cluster) do %>
<div id="<%= dom_id @cluster %>">
  <%= link_to download_kubeconfig_cluster_path(@cluster), class: "btn btn-sm btn-outline" do %>
    <div class="flex items-center gap-2">
      Download Kubeconfig File
    </div>
  <% end %>
  <% if @cluster.projects.any? %>
    <h4 class="mt-4 text-2xl font-bold">Projects</h4>
    <hr class="mt-2 mb-6 border-base-content/10" />
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
      <% @cluster.projects.each do |project| %>
        <%= render project %>
      <% end %>
    </div>
  <% end %>
  <% if @cluster.add_ons.any? %>
    <h4 class="mt-4 text-2xl font-bold">Add Ons</h4>
    <hr class="mt-2 mb-6 border-base-content/10" />
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
    <% @cluster.add_ons.each do |add_on| %>
      <%= render add_on %>
    <% end %>
    </div>
  <% end %>
</div>
<% end %>