<%= content_for :title, "Clusters ##{@cluster.id}" %>
<%= turbo_stream_from @cluster %>


<%= cluster_layout(@cluster) do %>
<div id="<%= dom_id @cluster %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= @cluster.name %>
    <%= render "log_outputs/logs", loggable: @cluster %>
  </div>
  <h4>Projects:</h4>
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
    <% @cluster.projects.each do |project| %>
      <%= render project %>
    <% end %>
  </div>
  <h4>Add Ons:</h4>
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
    <% @cluster.add_ons.each do |add_on| %>
      <%= render add_on %>
    <% end %>
  </div>
</div>
<% end %>