<%= content_for :title, "Clusters ##{@cluster.id}" %>
<%= turbo_stream_from @cluster %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Clusters", clusters_path, class: "text-black dark:text-white" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Cluster #<%= @cluster.id %>
    </h1>
    <%= turbo_frame_tag "test_connection_frame" do %>
      <%= button_to "Test Connection", test_connection_cluster_path(@cluster), class: "btn btn-info btn-outline" %>
    <% end %>
    <%= link_to t("edit"), edit_cluster_path(@cluster), class: "btn btn-secondary" %>
  </div>

  <div class="p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">
    <%= render @cluster %>
  </div>
</div>
