<div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-24 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-base font-semibold leading-7 text-indigo-400">Deploy faster</h2>
    <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Everything you need to deploy your app</p>
    <p class="mt-6 text-lg leading-8 text-gray-300">A Heroku like experience for deploying your application.</p>
  </div>
  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
    <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
      <%= render(
        'static/landing_page/feature_card',
        title: 'Github Integration',
        description: 'Canine pulls your code and build your application when you push to Github',
        icon: 'github'
      ) %>
      <%= render(
        'static/landing_page/feature_card',
        title: 'One Click Deployment & Rollbacks',
        description: 'Manage your deployments and rollbacks in one place',
        icon: 'rocket'
      ) %>
      <%= render(
        'static/landing_page/feature_card',
        title: 'SSL Certificate Management',
        description: 'Let\'s Encrypt SSL certificates are automatically provisioned and managed for your applications',
        icon: 'lock'
      ) %>
      <%= render(
        'static/landing_page/feature_card',
        title: 'Simplifies Kubernetes',
        description: 'Deploy any application that can run in a container in a single click',
        icon: 'thumbs-up'
      ) %>
      <%= render(
        'static/landing_page/feature_card',
        title: 'Any Workload',
        description: 'Deploy web apps, background jobs, and even cron jobs from a single codebase',
        icon: 'list-check'
      ) %>
      <%= render(
        'static/landing_page/feature_card',
        title: 'Add Ons',
        description: 'Extend the functionality of your application with popular open source projects, completely free',
        icon: 'package'
      ) %>
    </dl>
  </div>
</div>