<%= turbo_frame_tag "#{service.id}/domains" do %>
  <div>
    <h4>Custom Domains</h4>
    <div class="flex gap-2">
      <%= form_with(model: [service.project, service, Domain.new], url: project_service_domains_path(service.project, service)) do |form| %>
        <%= form.text_field :domain_name, class: "input input-bordered", placeholder: "Domain Name" %>
        <%= form.submit "Add Domain", class: "btn btn-primary", data: { turbo: false, disable_with: "Loading..." } %>
      <% end %>
    </div>

    <h5 class="my-4">Make sure to configure domains with the following DNS records</h5>
    <% if service.domains.any? %>
      <div>
        Certificate Status:
        <% if K8::Stateless::Ingress.new(service).certificate_status %>
          <span class="text-success ml-2 font-semibold">Issued</span>
        <% else %>
          <span class="text-warning ml-2 font-semibold">Issuing</span>
        <% end %>
      </div>
    <% end %>
    <div id="domain-list">
      <%= render partial: "projects/services/domains/list", locals: { service: } %>
    </div>
    <div class="flex items-center mt-4">
      <%= button_to "Refresh DNS Status", check_dns_project_service_domains_path(service.project, service), class: "btn btn-primary btn-sm btn-outline", data: { disable_with: "Loading..." } %>
      <% if defined?(refreshed) %>
        <span class="text-success ml-4">DNS records refreshed <iconify-icon icon="lucide:check"></iconify-icon></span>
      <% end %>
    </div>
  </div>
<% end %>