<%= cluster_layout(@cluster) do %>
  <%= turbo_frame_tag "metrics", data: { controller: "refresh-turbo-frame", "refresh-turbo-frame-frequency-value": 5000 } do %>
    <%= render "clusters/metrics/live_metrics" %>
  <% end %>

  <%= turbo_frame_tag "charts" do %>
    <div class="mt-8">
      <% metric_type = params[:metric_type] || "percentage" %>  
      <%= render "clusters/metrics/search", search_path: cluster_metrics_path(@cluster), metric_type: %>

      <div class="flex flex-row gap-4 mt-8">
        <%= render(
          "shared/charts/chart",
          config: {
            title: "CPU Usage",
            metric_type:,
            data: [
              {
                name: "CPU Usage",
                values: parse_cpu_metrics(@metrics)
              }
            ]
          },
        ) %>

        <%= render(
          "shared/charts/chart",
          config: {
            title: "Memory Usage",
            metric_type:,
            data: [
              {
                name: "Memory Usage",
                values: parse_memory_metrics(@metrics)
              }
            ]
          },
        ) %>
      </div>
    </div>
  <% end %>
<% end %>
