<%= cluster_layout(@cluster) do %>
  <%= turbo_frame_tag "metrics", data: { controller: "refresh-turbo-frame", "refresh-turbo-frame-frequency-value": 5000 } do %>
    <%= render "clusters/metrics/live_metrics" %>
  <% end %>
  <div class="flex flex-row gap-4">
    <%= line_chart parse_cpu_metrics(@metrics), suffix: "%", xtitle: "CPU Usage", ytitle: "Percentage" %>
    <%= line_chart parse_memory_metrics(@metrics), suffix: "%", xtitle: "Memory Usage", ytitle: "Percentage" %>
  </div>

<% end %>
