<div class="container mx-auto px-4 py-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Clusters", clusters_path, class: "text-black dark:text-white" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= @cluster.name %> metrics
    </h1>
    <button onclick="location.reload()" class="btn btn-primary m-1">
      Refresh
    </button>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full table-auto">
      <thead class="">
        <tr>
          <th class="px-4 py-2 text-left text-gray-600">Pod Name</th>
          <th class="px-4 py-2 text-left text-gray-600">CPU</th>
          <th class="px-4 py-2 text-left text-gray-600">Memory</th>
        </tr>
      </thead>
      <tbody>
        <% @pod_metrics.each do |metric| %>
          <tr class="border-b">
            <td class="px-4 py-2"><%= metric[:name] %></td>
            <td class="px-4 py-2"><%= metric[:cpu] %></td>
            <td class="px-4 py-2"><%= metric[:memory] %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>

  <h2 class="text-xl font-semibold mb-4">Node Metrics</h2>
  <div class="overflow-x-auto">
    <table class="w-full table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left text-gray-600">Node Name</th>
          <th class="px-4 py-2 text-left text-gray-600">CPU Cores</th>
          <th class="px-4 py-2 text-left text-gray-600">CPU %</th>
          <th class="px-4 py-2 text-left text-gray-600">Memory Bytes</th>
          <th class="px-4 py-2 text-left text-gray-600">Memory %</th>
        </tr>
      </thead>
      <tbody>
        <% @node_metrics.each do |metric| %>
          <tr class="border-b">
            <td class="px-4 py-2"><%= metric[:name] %></td>
            <td class="px-4 py-2"><%= metric[:cpu_cores] %></td>
            <td class="px-4 py-2"><%= metric[:cpu_percent] %></td>
            <td class="px-4 py-2"><%= metric[:memory_bytes] %></td>
            <td class="px-4 py-2"><%= metric[:memory_percent] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
