<%= form_with(model: add_on) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", value: RandomNameGenerator.generate_name %>
  </div>

  <div class="form-group">
    <%= form.label :cluster_id %>
    <%= form.collection_select :cluster_id, current_user.clusters, :id, :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :helm_chart_url %>
    <%= form.text_field :helm_chart_url, class: "form-control" %>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), add_ons_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t("cancel"), add_on_path(@add_on), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
