<% if add_on.installing? %>
<div class="card card-bordered bg-base-100">
  <div class="card-body">
    <div class="flex flex-col items-center justify-center">
      <%= render "add_ons/installing" %>
      <div class="mt-4 text-lg">
        Your add-on is installing... Go grab a coffee, this could take a while.
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="container px-4 mx-auto my-8">
    <div class="flex items-center justify-between mb-4">
      <div>
        <div class="text-sm">
          <%= render "add_ons/status", add_on: @add_on %>
        </div>
        <h1 class="h3">
          <%= @add_on.name %>
        </h1>
        <div class="flex flex-row">
          <%= link_to @add_on.cluster.name, cluster_path(@add_on.cluster), class: "mr-2" %>
          <%= @add_on.chart_type %>
        </div>
      </div>
    </div>

    <div class="card card-bordered bg-base-100">
      <div class="card-body">
        <!-- Sidebar -->
        <%= render "add_ons/sidebar", add_on: add_on %>
        <div class="block w-full">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>