<% if add_on.installing? %>
  <div class="flex flex-col items-center justify-center">
    <%= render "add_ons/installing" %>
    <div class="mt-4 text-lg">
      Your add-on is installing... Go grab a coffee, this could take a while.
    </div>
  </div>
<% else %>
  <div class="container px-4 mx-auto my-8">
    <div class="flex items-center justify-between mb-4">
      <div>
        <div class="text-sm">
          <%= render "add_ons/status", add_on: @add_on %>
        </div>
        <h1 class="h3">
          <%= @add_on.name %>
        </h1>
        <div class="flex flex-row">
          <%= link_to @add_on.cluster.name, cluster_path(@add_on.cluster), class: "mr-2" %>
          <%= @add_on.chart_type %>
        </div>
        <% if @add_on.installed? %>
          <div>
            Internal URL: <a><%= @service.internal_url %></a> <i class="bi bi-copy cursor-pointer" data-controller="clipboard" data-clipboard-text="<%= @service.internal_url %>"></i>
          </div>
          <% if @service.has_external_url? %>
            <div>
              External URL: <a><%= @service.external_url %></a> <i class="bi bi-copy cursor-pointer"></i>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="p-8 dark:border border-base-300 bg-gray-900 rounded-b-box  rounded shadow">
      <div class="container mx-auto flex">
        <!-- Sidebar -->
        <%= render "add_ons/sidebar", add_on: add_on %>
        <div class="block w-full">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>