<h4>PostgreSQL</h4>
<div class="mt-2 space-y-6">
  <div>
    <h6>Storage</h6>
    <% @service.storage_metrics.each do |metric| %>
      <div>Volume: <pre class="inline"><%= metric[:name] %></pre></div>
      <div><strong><%= metric[:usage][:use_percentage] %>%</strong> used out of <strong><%= standardize_size(metric[:usage][:available]) %>B</strong></div>
      <progress class="progress w-56" value="<%= metric[:usage][:use_percentage] %>" max="100"></progress>
    <% end %>
  </div>
  <div>
    <h6>Created</h6>
    <div><%= @add_on.created_at.to_formatted_s(:long_ordinal) %></div>
  </div>

  <div>
    <h6>PostgreSQL Version</h6>
    <div><%= @service.version %></div>
  </div>

  <div>
    <h6>Connection Details</h6>
    <div class="mt-2">
      <label for="redis-password" class="form-label">Connection URL</label>
      <div class="flex flex-row" data-controller="toggle-password">
        <input type="password" id="redis-password" name="redis-password" class="form-control" value="<%= @service.internal_url %>" data-toggle-password-target="input">
        <button class="btn btn-outline-secondary" type="button" data-action="click->toggle-password#toggle">
          <iconify-icon icon="lucide:eye"></iconify-icon>
        </button>
      </div>
    </div>
  </div>
</div>
