<h1 class="text-2xl font-bold mb-6"><%= AddOn::DISPLAY_NAME[@service.name] %></h1>
<h6 class="text-xl font-bold">Storage</h6>
<div class="mb-4">
  <% @service.storage_metrics.each do |metric| %>
    <div>Volume: <pre class="inline"><%= metric[:name] %></pre></div>
    <% if metric[:usage] %>
      <div><strong><%= metric[:usage][:use_percentage] %>%</strong> used out of <strong><%= standardize_size(metric[:usage][:available]) %>B</strong></div>
      <progress class="progress w-56" value="<%= metric[:usage][:use_percentage] %>" max="100"></progress>
    <% end %>
  <% end %>
</div>
<h6 class="text-xl font-bold">Created</h6>
<div class="mb-4">
  <%= @add_on.created_at.to_formatted_s(:long_ordinal) %>
</div>
<h6 class="text-xl font-bold"><%= AddOn::DISPLAY_NAME[@service.name] %> Version</h6>
<div class="mb-4">
  <%= @service.version %>
</div>
<h6 class="text-xl font-bold">Connection Details</h6>
<div class="mb-4">
  <label for="postgresql-password" class="form-label">Connection URL</label>
  <div class="flex flex-row" data-controller="toggle-password">
    <input type="password" id="redis-password" name="redis-password" class="input input-bordered w-full max-w-lg focus:outline-offset-0" value="<%= @service.internal_url %>" data-toggle-password-target="input">
    <button class="btn btn-outline-secondary" type="button" data-action="click->toggle-password#toggle">
      <iconify-icon icon="lucide:eye"></iconify-icon>
    </button>
  </div>
</div>
