<%= content_for :title, t("scaffold.edit.title", model: "Add On") %>
<%= add_on_layout(@add_on) do %>
  <div class="space-y-4">
    <div>
      <h2 class="text-lg font-bold">Endpoints</h2>
      <%= render "add_ons/endpoints/index", add_on: @add_on, endpoints: @endpoints, ingresses: @ingresses %>
      <% if @endpoints.empty? %>
        <p class="text-gray-500">No endpoints found</p>
      <% end %>
    </div>
    <div>
      <h2 class="text-lg font-bold">Configuration</h2>
      <%= form_with(model: @add_on) do |form| %>
        <%= form.hidden_field :chart_type, value: @add_on.chart_type %>
        <%= render "add_ons/template_variables", chart: @add_on.chart_definition, form: form %>

        <div class="form-group">
          <%= form.label :values_yaml, "Values YAML" %>
          <%= form.text_area(
            :values_yaml,
            class: "code textarea textarea-bordered w-full",
            rows: 5,
            value: @service.values_yaml.to_yaml
          ) %>
        </div>
        <%= form.submit "Save", class: "btn btn-primary" %>
      <% end %>
      <div class="text-sm text-gray-500">
        Changes updates to YAML values will update the chart, and could cause issues.
      </div>
    </div>
    <div>
      <h2 class="text-lg font-bold">Delete Add-on</h2>
      <%= button_to "Uninstall", add_on_path(@add_on), method: :delete, class: "btn btn-error" %>
    </div>
  </div>
<% end %>