<tr class="cursor-pointer hover:bg-base-200/40">
  <td title="<%= event.eventable.name %> environment variable has updated" colspan="3">
    <div class="font-medium space-x-3">
      <code><%= event.eventable.name %></code> environment variable has updated
    </div>
  </td>
  <td>
    <div role="tooltip" data-tip="<%= event.eventable.created_at.strftime("%B %d, %Y %H:%M %p") %>" class="tooltip">
      <div class="text-sm capitalize"><%= distance_of_time_in_words(event.eventable.created_at, Time.current) %> ago</div>
    </div>
  </td>
  <td title="<%= event.user&.name || event.user&.email || "Automated" %>">
    <div class="text-sm capitalize truncate w-[100px]">
      <%= event.user&.name || event.user&.email || "Automated" %>
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
