<%= content_for :title, "Projects ##{@project.id}" %>
<%= turbo_stream_from @project %>

<%= project_layout(@project) do %>
  <div>
    <div class="flex items-center gap-3">
      <div>
        <%= @build.created_at.strftime("%B %d, %Y at %I:%M %p") %>
        <%= render "projects/deployments/status", build: @build %>
      </div>
      <% if @build.in_progress? %>
        <%= button_to "Kill Build", 
            kill_project_deployment_path(@project, @build), 
            method: :patch,
            class: "btn btn-sm btn-error",
            confirm: "Are you sure you want to kill this build? This action cannot be undone.",
            data: { turbo_method: :patch } %>
      <% end %>
    </div>
    <div>
      <!-- link to github -->
      <%= link_to @build.commit_sha[0..6], "https://github.com/#{@project.repository_url}/commit/#{@build.commit_sha}", class: "underline", target: "_blank", rel: "noopener noreferrer" %>
      <span class="font-light"><%= @build.commit_message.truncate(50) %></span>
    </div>
  </div>
  <hr class="mt-2 mb-6 border-base-content/10" />
  <h2 class="text-xl font-bold mb-4">Build Logs</h2>
  <div class="my-4">
    <%= render "log_outputs/logs", loggable: @build %>
  </div>

  <% if @build.deployment %>
    <h2 class="text-xl font-bold mb-4">Release Logs</h2>
    <div class="my-4">
      <%= render "log_outputs/logs", loggable: @build.deployment %>
    </div>
  <% end %>
<% end %>
