<%= content_for :title, "Projects ##{@project.id}" %>
<%= turbo_stream_from @project %>

<%= project_layout(@project) do %>
  <div>
    <div>
      <%= @build.created_at.strftime("%B %d, %Y at %I:%M %p") %>
      <%= render "projects/deployments/status", build: @build %>
    </div>
    <div>
      <!-- link to github -->
      <%= link_to @build.commit_sha[0..6], "https://github.com/#{@project.repository_url}/commit/#{@build.commit_sha}", class: "underline", target: "_blank", rel: "noopener noreferrer" %>
      <span class="font-light"><%= @build.commit_message %></span>
    </div>
  </div>
  <hr class="mt-2 mb-6 border-base-content/10" />
  <h2 class="text-xl font-bold mb-4">Build Logs</h2>
  <div class="my-4">
    <%= render "log_outputs/logs", loggable: @build %>
  </div>

  <% if @build.deployment %>
    <h2 class="text-xl font-bold mb-4">Release Logs</h2>
    <div class="my-4">
      <%= render "log_outputs/logs", loggable: @build.deployment %>
    </div>
  <% end %>
<% end %>
