<%= turbo_frame_tag "domains" do %>
  <h4>Custom Domains</h4>
  <div>Instructions for adding a domain to your project.</div>

  <%= form_with(model: [project, Domain.new], data: { turbo_frame: "domains" }) do |form| %>
    <%= render "error_messages", resource: form.object %>
    <%= form.text_field :domain_name, class: "form-control" %>
    <%= form.submit "Add Domain", class: "btn btn-primary" %>
  <% end %>

  <div id="domain-list">
    <%= render partial: "projects/domains/list", locals: { project: project } %>
  </div>
<% end %>