<title>
  <% if content_for?(:title) %>
    <%= yield :title %> |
  <% end %>
  Canine - An open source alternative to Heroku
</title>
<meta name="description" content="Canine is an open source deployment platform that makes it easy to deploy and manage your applications.">

<% if content_for?(:og_title) %>
  <meta property="og:title" content="<%= yield :og_title %>" />
<% else %>
  <meta property="og:title" content="Canine - An open source alternative to Heroku" />
<% end %>

<% if content_for?(:og_url) %>
  <meta property="og:url" content="<%= yield :og_url %>" />
<% else %>
  <meta property="og:url" content="https://canine.sh" />
<% end %>

<% if content_for?(:og_description) %>
  <meta property="og:description" content="<%= yield :og_description %>" />
<% else %>
  <meta property="og:description" content="Canine is an open source deployment platform that makes it easy to deploy and manage your applications." />
<% end %>

<% if content_for?(:og_image) %>
  <meta property="og:image" content="<%= yield :og_image %>" />
<% else %>
  <meta property="og:image" content="https://canine.sh/images/deployment_styled.png" />
<% end %>
<meta http-equiv="content-language" content="<%= I18n.locale %>"/>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#191b1f">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<%= render "shared/favicons" %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
<% if ENV["POSTHOG_KEY"].present? %>
  <script>
      !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey getNextSurveyStep identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      posthog.init('<%= ENV["POSTHOG_KEY"] %>', {
          api_host: 'https://us.i.posthog.com',
          person_profiles: 'always', // or 'always' to create profiles for anonymous users as well
      })
  </script>
<% end %>
<% if ENV["GOOGLE_ANALYTICS_ID"].present? %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_ANALYTICS_ID"] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= ENV["GOOGLE_ANALYTICS_ID"] %>');
  </script>
<% end %>
