<% if current_user != true_user %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to stop_impersonating_madmin_impersonates_path, method: :post do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav role="navigation" aria-label="Navbar" class="flex items-center justify-between px-3" data-controller="toggle" id="layout-topbar">
  <%= render "shared/left_nav" %>
  <%= render "shared/right_nav" %>
</nav>
