<% if current_user != true_user %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to stop_impersonating_madmin_impersonates_path, method: :post do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="topbar-wrapper navbar z-10 border-b border-base-200 px-3" data-controller="toggle">
  <%= render "shared/left_nav" %>
  <%= render "shared/right_nav" %>
</nav>
