<div class="flex flex-row gap-x-4 items-stretch">
  <ul class="menu w-64 rounded bg-base-200 self-start !pb-6">
    <li>
      <h2 class="menu-title">Settings</h2>
      <ul>
        <li class="<%= 'underline' if current_page?(edit_user_registration_path) %>" style="text-underline-offset: 0.25rem;">
          <%= link_to edit_user_registration_path do %>
            <iconify-icon icon="lucide:user" ></iconify-icon>
            Account
          <% end %>
        </li>
        <li class="<%= 'underline' if current_page?(providers_path) %>" style="text-underline-offset: 0.25rem;">
          <%= link_to providers_path do %>
            <iconify-icon icon="lucide:key-round" ></iconify-icon>
            Credentials
          <% end %>
        </li>
      </ul>
    </li>

  </ul>
  <div class="flex-1 container px-0">
    <%= yield %>
  </div>
</div>
