<%= form_with(model: project) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
  <div class="space-y-4">
    <div class="text-base-content/50">
      Volumes are a way to persist data across container restarts. In general, you should use a database for this.
      A volume will not work if you have more than one node in your cluster.
    </div>
    <%= render(FormFieldComponent.new(label: "Enable preview apps")) do %>
      <%= form.check_box :preview_apps, class: "checkbox" %>
    <% end %>

    <%= render(FormFieldComponent.new(
      label: "Cluster",
      description: "The cluster to deploy the preview apps to."
    )) do %>
      <%= form.collection_select :cluster_id, current_account.clusters, :id, :name, { include_blank: "Select a cluster" }, { class: "select select-bordered w-full" } %>
      <label class="label">
        <span class="label-text-alt">* Required</span>
      </label>
    <% end %>
  </div>
<% end %>