<div data-controller="new-project">
  <%= form_with(model: project, data: { turbo: false }) do |form| %>
    <h2 class="text-2xl font-bold">Create a new project from Docker Hub</h2>
    <%= link_to(
      "Deploy from Github instead →",
      new_project_path(provider: Provider::GITHUB_PROVIDER),
      class: "inline-block mt-2 underline underline-offset-4 text-blue-300 hover:text-blue-200 text-sm",
    ) %>
    <hr class="mt-3 mb-4 border-t border-base-300" />

    <%= render "shared/error_messages", resource: form.object %>

    <div class="form-control mt-1 w-full max-w-sm">
      <label class="label">
        <span class="label-text">Name</span>
      </label>
      <%= form.text_field :name, class: "input input-bordered w-full focus:outline-offset-0", value: RandomNameGenerator.generate_name %>
      <label class="label">
        <span class="label-text-alt">* Required</span>
      </label>
    </div>

    <div class="form-control mt-1 w-full max-w-sm">
      <label class="label">
        <span class="label-text">Cluster</span>
      </label>
      <%= form.collection_select :cluster_id, current_account.clusters.running, :id, :name, {}, { class: "select select-bordered" } %>
      <label class="label">
        <span class="label-text-alt">* Required</span>
      </label>
    </div>

    <%= form.fields_for(:project_credential_provider) do |fields| %>
      <%= fields.hidden_field :provider_id, value: provider.id %>
    <% end %>
    <div class="form-control mt-1 w-full max-w-sm">
      <label class="label">
        <span class="label-text">Docker Hub Repository</span>
      </label>

      <%= form.text_field(
        :repository_url,
        class: "input input-bordered w-full focus:outline-offset-0",
        placeholder: "accountname/repo",
      ) %>
    </div>

    <div class="form-control mt-1 w-full max-w-sm">
      <label class="label">
        <span class="label-text">Docker command</span>
      </label>
      <%= form.text_field :docker_command, class: "input input-bordered w-full focus:outline-offset-0" %>
    </div>

    <div class="form-control my-1 w-full max-w-sm">
      <label class="label">
        <span class="label-text">Predeploy command</span>
      </label>
      <%= form.text_field :predeploy_command, class: "input input-bordered w-full focus:outline-offset-0" %>
    </div>

    <div class="form-footer">
      <%= form.button "Submit", class: "btn btn-primary" %>

      <% if form.object.new_record? %>
        <%= link_to t("cancel"), projects_path, class: "btn btn-secondary", data: { turbo: false } %>
      <% else %>
        <%= link_to t("cancel"), project_path(@project), class: "btn btn-secondary", data: { turbo: false } %>
      <% end %>
    </div>
  <% end %>
</div>