<div class="overflow-auto">
  <table class="table mt-2 rounded-box" id="shop_table" data-component="table">
    <thead>
      <tr>
        <th>
          <span class="text-sm font-medium text-base-content/80">Name</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Status</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Cluster Name</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Last Deployment</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% projects.each do |project| %>
        <tr class="cursor-pointer hover:bg-base-200/40">
          <td>
            <div class="font-medium"><%= link_to project.name, project_deployments_path(project), class: "text-inherit hover:underline" %></div>
          </td>
          <td>
            <%= render "projects/status", project: project %>
          </td>
          <td>
            <div><%= project.cluster&.name %></div>
          </td>
          <td>
            <% if project.last_deployment_at %>
              <div>
                <div class="text-sm"><%= time_ago(project.last_deployment_at) %></div>
                <div class="text-xs italic"><%= project.last_deployment.build.commit_message %></div>
              </div>
            <% else %>
              <div class="text-sm">Never</div>
            <% end %>
          </td>
          <td>
            <div class="inline-flex w-fit">
              <%= link_to project_deployments_path(project) do %>
                <button aria-label="Edit project" class="btn btn-square btn-ghost btn-sm">
                  <iconify-icon icon="lucide:pencil" height="15" class="text-base-content/70"></iconify-icon>
                </button>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
                   
