<div class="overflow-auto">
  <table class="table mt-2 rounded-box" id="shop_table" data-component="table">
    <thead>
      <tr>
        <th>
          <span class="text-sm font-medium text-base-content/80">Name</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Status</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Cluster Name</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Last Deployed At</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% projects.each do |project| %>
        <tr class="cursor-pointer hover:bg-base-200/40">
          <td>
            <div class="font-medium"><%= link_to project.name, project_deployments_path(project), class: "text-inherit hover:underline" %></div>
          </td>
          <td>
            <div class="flex items-center gap-2">
              <%
                badge_color = case project.status
                when "creating"
                  "warning"
                when "deployed"
                  "success"
                end
              %>
              <div aria-label="Badge" class="badge border-0 bg-<%= badge_color %>/10 font-medium capitalize text-<%= badge_color %>">
                <%= project.status %>
              </div>
            </div>
          </td>
          <td>
            <div><%= project.cluster&.name %></div>
          </td>
          <td>
            <div class="text-sm"><%= project.last_deployed_at&.strftime('%Y-%m-%d %H:%M:%S') || "Never" %></div>
          </td>
          <td>
            <div class="inline-flex w-fit">
              <%= link_to project_deployments_path(project) do %>
                <button aria-label="Edit project" class="btn btn-square btn-ghost btn-sm">
                  <iconify-icon icon="lucide:pencil" height="15" class="text-base-content/70"></iconify-icon>
                </button>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
                   
