<div class="tabs tabs-bordered mb-3" role="tablist">
  <%= link_to project_deployments_path(project), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(project_deployments_path(project))}" do %>
    <div class="flex items-center gap-2">
      Deployments
    </div>
  <% end %>
  <%= link_to project_services_path(project), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(project_services_path(project))}" do %>
    <div class="flex items-center gap-2">
      Services
    </div>
  <% end %>
  <%= link_to project_environment_variables_path(project), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(project_environment_variables_path(project))}" do %>
    <div class="flex items-center gap-2">
      Environment
    </div>
  <% end %>
  <%= link_to project_processes_path(project), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(project_processes_path(project))}" do %>
    <div class="flex items-center gap-2">
      Processes
    </div>
  <% end %>
  <%= link_to project_metrics_url(project), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(project_metrics_url(project))}" do %>
    <div class="flex items-center gap-2">
      Metrics
    </div>
  <% end %>
  <%= link_to edit_project_path(project), class: "tab hover:bg-base-content/15 #{'tab-active' if current_page?(edit_project_path(project))}" do %>
    <div class="flex items-center gap-2">
      Settings
    </div>
  <% end %>
</div>
