<%= content_for :title, t("scaffold.new.title", model: "Project") %>

<div class="">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-lg font-medium">
      <%= link_to "Projects", projects_path, class: "text-black dark:text-white" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= t("scaffold.new.title", model: "Project") %>
    </h1>
  </div>

  <div class="card card-bordered bg-base-100">
    <div class="card-body">
      <%= turbo_frame_tag "new-project" do %>
        <%= render "new_form", project: @project, provider: @provider %>
      <% end %>
    </div>
  </div>
</div>
