<div class="" style="">
  <%= render "static/landing_page/github_corner" %>
  
  <div class="bg-gray-900">
    <main>
      <!-- Hero section -->
      <%= render "static/landing_page/hero" %>

      <!-- Feature section -->
      <%= render "static/landing_page/features_1" %>

      <!-- Feature section -->
      <%= render "static/landing_page/features_2" %>

      <!-- Stats -->
      <%= render "static/landing_page/stats" %>

      <!-- CTA section -->
      <%= render "static/landing_page/cta" %>
    </main>

    <!-- Footer -->
    <%= render "static/landing_page/footer" %>
  </div>

</div>