<%= project_layout(@project) do %>
  <%= turbo_frame_tag "pod_logs" do %>
    <% if @pods.empty? %>
      <div>
        <p class="text-gray-500">Nothing running for this project</p>
      </div>
    <% else %>
      <table class="table mt-2 rounded-box" data-component="table">
        <thead>
          <tr>
            <th>
              <span class="text-sm font-medium text-base-content/80">Pod Name</span>
            </th>
            <th>
              <span class="text-sm font-medium text-base-content/80">
                Status
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @pods.each do |pod| %>
          <tr class="cursor-pointer hover:bg-base-200/40">
            <td>
              <div class="flex items-center space-x-3 truncate">
                <div class="font-medium">
                  <%= pod.metadata.name %>
                </div>
              </div>
            </td>
            <td>
              <div class="font-medium">
                <%= pod.status.phase %>
              </div>
            </td>
            <td>
              <div class="font-medium">
                <%= link_to "Show Logs", project_log_path(@project, pod.metadata.name) %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>
