<%= content_for :title, t("scaffold.edit.title", model: "Project") %>

<%= project_layout(@project) do %>
  <%= turbo_frame_tag "metrics", data: { controller: "refresh-turbo-frame", "refresh-turbo-frame-frequency-value": 5000 } do %>
    <%= render "projects/metrics/live_metrics" %>
  <% end %>

  <%= turbo_frame_tag "metrics-search" do %>
    <div class="mt-8">
      <%= render "clusters/metrics/search", search_path: project_metrics_path(@project) %>

      <div class="flex flex-row gap-4 mt-8">
        <%= line_chart(
          parse_cpu_metrics(@metrics),
          suffix: "%",
          xtitle: "CPU Usage",
          ytitle: "Percentage",
          library: { scales: { y: { ticks: { suggestedMin: 0, suggestedMax: 100 } } } }
        ) %>
        <%= line_chart(
          parse_memory_metrics(@metrics),
          suffix: "%",
          xtitle: "Memory Usage",
          ytitle: "Percentage",
          library: { scales: { y: { ticks: { suggestedMin: 0, suggestedMax: 100 } } } }
        ) %>
      </div>
    </div>
  <% end %>
<% end %>
