<%= content_for :title, t("scaffold.edit.title", model: "Project") %>

<%= project_layout(@project) do %>
  <%= turbo_frame_tag "metrics", data: { controller: "refresh-turbo-frame", "refresh-turbo-frame-frequency-value": 5000 } do %>
    <%= render "projects/metrics/live_metrics" %>
  <% end %>

  <%= turbo_frame_tag "metrics-search" do %>
    <div class="mt-8">
      <% metric_display = params[:metric_display] || "percentage" %>
      <%= render "clusters/metrics/search", search_path: project_metrics_path(@project), metric_display: %>

      <div class="flex flex-row gap-4 mt-8">
        <%= render(
          "shared/charts/chart",
          config: {
            metric_display:,
            metric_type: "cpu",
            title: "CPU Usage",
            data: parse_cpu_metrics(@metrics)
          },
        ) %>

        <%= render(
          "shared/charts/chart",
          config: {
            metric_display:,
            metric_type: "memory",
            title: "Memory Usage",
            data: parse_memory_metrics(@metrics)
          },
        ) %>
      </div>
    </div>
  <% end %>
<% end %>
