<!DOCTYPE html>
<html class="h-full antialiased dark" data-theme="dark" lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>

   <body data-controller="theme" data-theme-preference-value="dark">
    <div class="size-full">
      <div class="flex overflow-hidden">
        <% unless current_page?(root_path) %>
          <div class="leftmenu-wrapper">
            <%= link_to root_path, class: "flex h-16 items-center justify-center" do %>
              <img src="/images/logo-compact.png" class="w-[40px] h-[40px]" />
              <span class="sr-only"><%= Rails.configuration.application_name %></span>
            <% end %>
            <div data-simplebar="init" class="h-[calc(100vh-64px)] lg:h-[calc(100vh-230px)] simplebar-scrollable-y">
              <div class="simplebar-wrapper">
                <div class="simplebar-mask">
                  <div class="simplebar-offset">
                    <div class="simplebar-content-wrapper">
                      <div class="simplebar-content">
                        <div class="menu mb-6">
                          <li class="mb-0.5">
                            <%= link_to projects_path, class: "hover:bg-base-content/15", starts_with: projects_path do %>
                              <div class="flex items-center gap-2">
                                <iconify-icon icon="lucide:sparkles" height="18"></iconify-icon>
                                Projects
                              </div>
                            <% end %>
                          </li>
                          <li class="mb-0.5">
                            <%= link_to clusters_path, class: "hover:bg-base-content/15", starts_with: clusters_path do %>
                              <div class="flex items-center gap-2">
                                <iconify-icon icon="lucide:boxes" height="18"></iconify-icon>
                                Clusters
                              </div>
                            <% end %>
                          </li>
                          <li class="mb-0.5">
                            <%= link_to add_ons_path, class: "hover:bg-base-content/15", starts_with: add_ons_path do %>
                              <div class="flex items-center gap-2">
                                <iconify-icon icon="lucide:package" height="18"></iconify-icon>
                                Add Ons
                              </div>
                            <% end %>
                          </li>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="leftbar-backdrop"></div>
        <% end %>
        <main class="main-wrapper overflow-auto"> 
          <div class="flex h-full flex-col">
            <%= render 'shared/navbar' %>
            <%= render 'shared/notices' %>

            <div class="content-wrapper">
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
