<!DOCTYPE html>
<html class="h-full antialiased dark" data-theme="dark" lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>

   <body data-controller="theme" data-theme-preference-value="dark">
    <div class="size-full">
      <div class="flex">
        <%= render 'layouts/sidebar' %>
        <div class="leftbar-backdrop"></div>
        <main class="main-wrapper overflow-x-hidden overflow-y-auto">
          <div class="flex h-full flex-col">
            <%= render 'shared/navbar' %>
            <%= render 'shared/notices' %>

            <div class="content-wrapper">
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    </div>

  </body>
</html>
