<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <%= render 'shared/head' %>
  </head>

   <body class="h-full font-sans antialiased font-normal leading-normal" data-controller="theme" data-theme-preference-value="dark">
    <main class="flex-shrink-0"> 
      <%= render 'shared/navbar' %>
      <%= render 'shared/notices' %>

     <main class="px-3 lg:px-0 h-full">
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
