<%= content_for :title, "Accounts" %>
<%= turbo_stream_from :accounts %>

<div>
  <div class="flex items-center justify-between">
    <h3 class="text-lg font-medium">Accounts</h3>
  </div>

  <div class="mt-5">
    <div aria-label="Card" class="card card-bordered bg-base-100">
      <div class="card-body">
        <div>
          <%= tag.div id: ("accounts" if @pagy.page == 1) do %>
            <%= render "accounts/index", accounts: @accounts, cached: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <% if @pagy.pages > 1 %>
    <div class="flex items-center justify-end px-5 pb-5 pt-3">
      <%== custom_pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
